# Ignore built binaries
glusterd2
# Ignore vagrant directory
.vagrant/
# Ignore vendored dependencies
vendor/
# Ignore wercker local build directories
_builds/
_steps/
_projects/
# Ignore build and release directories
build/
releases/
