# Ignore built binaries
glusterd2
# Ignore vagrant directory
.vagrant/
# Ignore vendored dependencies
vendor/
# Ignore wercker local build directories
_builds/
_steps/
_projects/
# Ignore build and release directories
build/
releases/
pkg/elasticetcd/example/example
# ctags (if you use them)
tags
# Volgen example program stuff
volgen/_example/_example
volgen/_example/*vol
