[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kaushal M (kshlm)
[access "refs/for/refs/*"]
	read = group user/Kaushal M (kshlm)
	push = group user/Kaushal M (kshlm)
	label-Code-Review = -2..+2 group glusterd2
	label-Code-Review = -2..+2 group user/Kaushal M (kshlm)
	label-Verified = -1..+1 group glusterd2
	label-Verified = -1..+1 group user/Kaushal M (kshlm)
	rebase = group user/Kaushal M (kshlm)
	removeReviewer = group user/Kaushal M (kshlm)
	submit = group user/Kaushal M (kshlm)
[access "refs/heads/*"]
	read = group user/Kaushal M (kshlm)
	create = group user/Kaushal M (kshlm)
	push = +force group user/Kaushal M (kshlm)
	pushMerge = group user/Kaushal M (kshlm)
[access "refs/tags/*"]
	push = +force group user/Kaushal M (kshlm)
	pushTag = group user/Kaushal M (kshlm)
	pushSignedTag = group user/Kaushal M (kshlm)
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[project]
	state = hidden
