[Unit]
Description=GlusterD2, the management service for GlusterFS (pre-release)
Requires=rpcbind.service
After=network.target rpcbind.service
Before=network-online.target
Conflicts=glusterd.service

[Service]
ExecStart=/usr/sbin/glusterd2 --config=/etc/glusterd2/glusterd2.toml
KillMode=process

[Install]
WantedBy=multi-user.target
